<ion-header>
  <ion-toolbar color='success'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/my-land"></ion-back-button>
    </ion-buttons>
    <ion-title>{{speaker?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="speaker" class="ion-text-center">
    <img [src]="speaker.profilePic" [alt]="speaker.name">
    <br>

  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">About</ion-label>
      <br>
      <p>{{speaker?.about}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Location</ion-label>
      <br>
      <p>{{speaker?.location}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <br>
      <p>{{speaker?.email}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <br>
      <p>{{speaker?.phone}}</p>
    </ion-item>
  </ion-list>

  <ion-card-header>
    <ion-row>
      <ion-col>
        <ion-button color='success' detail="false" lines="none" routerLink="/map">
          <ion-icon slot="start" name="map"></ion-icon>
          Map
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-header>

</ion-content>
