.signup-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.signup-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

form {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 7px;
  box-shadow: 1px 2px 10px gray;
}

.colonn {
  margin-top: 25px;
  max-height: 1px;
}

hr {
  border-top: 2px solid black;
}

.colonne {
  text-align: center;
}

h2 {
  text-align: center;
  color: green;
}

.enregist {
  color: gray;
  padding-left: 10px;
  border: 1px solid green;
  border-radius: 5px;
  min-height: 50px;
}

.titre {
  margin-bottom: 10px;
}

.bouton {
  min-height: 50px;
}
