.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.colonn {
  margin-top: 25px;
  max-height: 1px;
}

hr {
  border-top: 2px solid green;
}

.colonne {
  text-align: center;
}

h2 {
  text-align: center;
  color: green;
}

.premier {
  display: inline-block;
}

.primera {
  display: inline-block;
  margin-left: 10px;
}

.colonna {
  text-align: center;
}

form {
  margin-left: 20px;
  margin-right: 20px;
}

.enregist {
  text-align: center;
  color: gray;
  background-color: lime;
  //border: 1px solid green;
  border-radius: 5px;
  min-height: 50px;
}

.titre {
  margin-bottom: 10px;
}

.bouton {
  min-height: 50px;
}

h3 {
  font-size: 0.7em;
  color: black;
}

.bouton1 {
  margin-right: -5px;
  margin-left: -5px;
  height: 50px;
}

.bouton2 {
  margin-right: -5px;
  margin-left: -5px;
  height: 50px;
}

.ligne {
  margin-bottom: -10px;
}
