<ion-header>
  <ion-toolbar color='success'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Lands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <div *ngIf="speakers.length != 0">
      <ion-grid fixed>
        <ion-row class="ion-align-items-stretch">
          <ion-col size="12" size-md="6" *ngFor="let speaker of speakers">
            <ion-card class="speaker-card">
              <ion-card-header class="enTete">
                <ion-item detail="false" lines="none" routerLink="/my-land-detail/{{speaker.id}}">
                  <img [src]="speaker.profilePic" alt="Speaker profile pic">

                </ion-item>
              </ion-card-header>

              <ion-card-content class="contenu">
                <ion-row class="ligne" routerLink="/my-land-detail/{{speaker.id}}">
                  <ion-col class="colonne">
                    <p class="colonne"><b>Land Title N° </b><span>{{speaker.name}}</span></p>
                  </ion-col>
                </ion-row>

                <ion-row class="ligne" routerLink="/my-land-detail/{{speaker.id}}">
                  <ion-col class="colonne">
                    <p class="colonne"><b>Localisation:</b> {{speaker.location}}</p>
                  </ion-col>
                </ion-row>

                <ion-row class="ligne">
                  <ion-col class="colonne" routerLink="/my-land-detail/{{speaker.id}}">
                    <p class="colonne"><b>Région:</b>{{speaker.region}}</p>
                  </ion-col>
                  <ion-col>
                    <ion-button class="bouton" color='danger' (click)="onDetail(speaker)">
                      <ion-icon name="bookmark"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>

              </ion-card-content>

            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>
</ion-content>
