<ion-header>
  <ion-toolbar color='success'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Lands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <div *ngIf="speakers.length != 0">
      <ion-grid fixed>
        <ion-row class="ion-align-items-stretch">
          <ion-col size="12" size-md="6" *ngFor="let speaker of speakers">
            <ion-card class="speaker-card">
              <ion-card-header class="enTete">
                <ion-item detail="false" lines="none" routerLink="/my-land-detail/{{speaker.id}}">
                  <img [src]="speaker.profilePic" alt="Speaker profile pic">

                </ion-item>
              </ion-card-header>

              <ion-card-content class="contenu">
                <ion-row class="ligne" routerLink="/my-land-detail/{{speaker.id}}">
                  <ion-col class="colonne">
                    <p class="colonne"><b>Land Title N° </b><span>{{speaker.name}}</span></p>
                  </ion-col>
                </ion-row>

                <ion-row class="ligne" routerLink="/my-land-detail/{{speaker.id}}">
                  <ion-col class="colonne">
                    <p class="colonne"><b>Localisation:</b> {{speaker.location}}</p>
                  </ion-col>
                </ion-row>

                <ion-row class="ligne">
                  <ion-col class="colonne" routerLink="/my-land-detail/{{speaker.id}}">
                    <p class="colonne"><b>Région:</b>{{speaker.region}}</p>
                  </ion-col>
                  <ion-col>
                    <ion-button class="bouton" color='danger' (click)="onDetail(speaker)">
                      <ion-icon name="bookmark"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>

                <!--ion-list>
                  <ion-item *ngFor="let session of speaker.sessions" routerLink="/app/tabs/speakers/session/{{session.id}}">
                    <h3>{{session.name}}</h3>
                  </ion-item>

                  <ion-item class="detail" routerLink="/app/tabs/speakers/speaker-details/{{speaker.id}}">

                    <ion-label>{{speaker.name}}</ion-label>
                  </ion-item>

                  <ion-item class="detail" routerLink="/app/tabs/speakers/speaker-details/{{speaker.id}}">

                    <p>About {{speaker.name}}</p>
                  </ion-item>
                </ion-list-->
              </ion-card-content>

              <!--ion-row class="ion-no-padding ion-justify-content-center">
                <ion-col size="4" class="ion-text-left">
                  <ion-button fill="clear" size="small" color="primary" (click)="goToSpeakerTwitter(speaker)">
                    <ion-icon name="logo-twitter" slot="start"></ion-icon>
                    Tweet
                  </ion-button>
                </ion-col>
                <ion-col size="4" class="ion-text-center">
                  <ion-button fill="clear" size="small" color="primary" (click)="openSpeakerShare(speaker)">
                    <ion-icon name="share-alt" slot="start"></ion-icon>
                    Share
                  </ion-button>
                </ion-col>
                <ion-col size="4" lass="ion-text-right">
                  <ion-button fill="clear" size="small" color="primary" (click)="openContact(speaker)">
                    <ion-icon name="chatboxes" slot="start"></ion-icon>
                    Contact
                  </ion-button>
                </ion-col>
              </ion-row-->
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>
</ion-content>
